body {
    padding-top: 100px;
    background-color: #F2F2F2;
    font-family: sans-serif;
}


#main-container {
    display: grid;
    grid-template-columns: 1500px 1500px 800px 380px;
    grid-gap: 20px;
}


#desktop {
    width: 1440px;
    height: 1725px;
    background-color: aqua;
}

#desktop-base {
    width: 1440px;
    height: 120px;
    background-color: rgb(14, 69, 219);
    margin-top: 1720px;
}


#desktop-active {
    width: 1440px;
    height: 1845px;
    background-color: rgba(41, 196, 7, 0.771);
}

#desktop-active-base {
    width: 1440px;
    height: 120px;
    background-color: rgb(14, 69, 219);
    margin-top: 1720px;
}


#tablet {
    width: 768px;
    height: 1640px;
    background-color: aqua;
}

#tablet-base {
    width: 768px;
    height: 120px;
    background-color: rgb(14, 69, 219);
    margin-top: 1640px;
}


#mobile {
    width: 375px;
    height: 2495px;
    background-color: rgb(17, 234, 234);
}

#mobile-base {
    width: 375px;
    height: 120px;
    background-color: rgb(14, 69, 219);
    margin-top: 2495px;
}