* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    padding-left: 200px;
    background-color: #f2f2f2;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


#main-container {
    margin: auto;
    position: relative;
    width: 1440px;
    height: 1725px;
    background-color: #FFFFFF;
    overflow: hidden;
}

#desktop {
    position:absolute;
    width: 1440px;
    height: 888px;
    background: linear-gradient(180deg, #FFFFFF 21.62%, #F0F1FF 121.62%);
    top: 34%;
    left: 25%;
}

#desktop-up-logo-test-img {
    width: 111.17px;
    height: 27.68px;
    position: absolute;
    top: 1.5%;
    left: 10%;
}

#desktop-up-test-button {
    Width: 167px;
    Height: 56px;
    position:absolute;
    margin-top: 24px;
    margin-left: 1108px;
    font-size: 18px;
    color:#ffffff;
    background-color: black;
    border-style: none;
    border-radius: 40px;
    }


    #image-hero-container {
        width: 991.63px;
        height: 936.92px;
        position:absolute;
        right: 0;
        top: 0%;
        overflow: hidden;
    }

    #image-hero {
        width: 100%;
        height: 750px;
        display: block;
        position: absolute;
        top: -7%;
        left: 24%;
    }

    h1 {
        font-size: 56px;
        font-weight: 800;
        line-height: 70.56px;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    #text-container {
        width: 445px;
        height: 84px;
        position: absolute;
        top: 20%;
        left: 10%;

    }

    #phrase {
        font-size: 18px;
        font-weight:500;
        line-height: 28px;
        text-align: left;
    }

    #mid-test-button {
        position: absolute;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        width: 167px;
        height: 63px;
        border: none;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 28px;
        border-radius: 30px;
        left: 10%;
        top: 30%
    }

    #content {
        display: grid;
        grid-template-columns: 380px 380px 380px;
        grid-gap: 20px;
        grid-row-gap: 80px;
        position: absolute;
        bottom: 12%;
        left: 11%;
    }

    #box1 {
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        width: 375.23px;
        height: 322px;
        bottom: 0;
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
        text-align: left;
        color: #FFFFFF;
        border-radius: 20px;
    }

    #box1-div {
        width: 286px;
        height: 120px;
        left: 5%;
        bottom: 75%;
        position: absolute;
    }

    #box2 {
        background-color: #FFFFFF;
        width: 375.23px;
        height: 346px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }


    #box2-image {
        width: 60.04px;
        height: 56px;
        display: block;
        position: absolute;
        top: -3%;
        margin-left: 19px;
    }

    h3 {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        margin-top: 64px;
        margin-left: 35px;
    }

    #box2-div2 {
        position: absolute;
        top: 15%;
        margin-left: 35px;
        width: 306.61px;
        height: 112px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(131, 134, 154, 1);

    }

    #mini-text-1 {
        color: #F74780;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 24px;
    }

    

    #box3 {
        background-color: #FFFFFF;
        width: 375.23px;
        height: 346px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }

    #box3-image {
        width: 60.04px;
        height: 56px;
        display: block;
        position: absolute;
        top: -3%;
        margin-left: 19px;
    }

    h3 {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        margin-top: 64px;
        margin-left: 35px;
    }

    #box3-div3 {
        position: absolute;
        top: 15%;
        margin-left: 35px;
        width: 306.61px;
        height: 112px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(131, 134, 154, 1);

    }

    #mini-text-2 {
        color: #F74780;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 52px;
    }




    #box4 {
        background-color: #FFFFFF;
        width: 375.23px;
        height: 346px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }

    
    #box4-image {
        width: 60.04px;
        height: 56px;
        display: block;
        position: relative;
        top: -7%;
        margin-left: 19px;
    }

    #creativity {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        margin-top: 30px;
        margin-left: 35px;
    }

    #box4-div4 {
        position: absolute;
        top: 73%;
        margin-left: 35px;
        width: 306.61px;
        height: 112px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(131, 134, 154, 1);

    }

    #mini-text-3 {
        color: #F74780;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 52px;
    }



    #box5 {
        background-color: #FFFFFF;
        width: 375.23px;
        height: 346px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }

    #box5-image {
        width: 60.04px;
        height: 56px;
        display: block;
        position: relative;
        top: -7%;
        margin-left: 19px;
    }

    #creativity {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        margin-top: 30px;
        margin-left: 35px;
    }

    #box5-div5 {
        position: absolute;
        top: 73%;
        margin-left: 35px;
        width: 306.61px;
        height: 112px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(131, 134, 154, 1);

    }

    #mini-text-4 {
        color: #F74780;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 25px;
    }



    #box6 {
        background-color: #FFFFFF;
        width: 375.23px;
        height: 346px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }

    #box6-image {
        width: 60.04px;
        height: 56px;
        display: block;
        position: relative;
        top: -7%;
        margin-left: 19px;
    }

    #creativity {
        font-size: 24px;
        font-weight: 800;
        line-height: 30.24px;
        margin-top: 30px;
        margin-left: 35px;
    }

    #box6-div6 {
        position: absolute;
        top: 73%;
        margin-left: 35px;
        width: 306.61px;
        height: 112px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(131, 134, 154, 1);

    }

    #mini-text-5 {
        color: #F74780;
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-top: 25px;
    }


    #desktop-base {
    width: 1440px;
    height: 120px;
    background-color: #13183f;
    position:absolute;
    left: -13.5%;
    bottom: -45%;
    }

    #desktop-base-test {
    width: 1109.21px;
    margin: auto;
    height: 56px;
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
}

    #desktop-base-test-img {
    margin-top: 12px;
     width: 111.17px;
     height: 27.68px;
    }

    #desktop-base-test-button {
    width: 167px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-style: none;
    border-radius: 40px;
    position: absolute;
    left: 85%;
    }   




/**********************************************************************************************************************************************/




